$primary-dark-color: rgb(8, 60, 73);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #b2fcfc;
  text-align: center;
  display: grid;
  padding: 5px;
  min-height: 100vh;
  max-width: 800px;
}
h1 {
  align-self: end;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 20px;
  background-color: white;
  min-height: 400px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin: 020px;
  box-shadow: inset;
  display: grid;
  padding: 10px;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.userEntry {
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
  row-gap: 20px;
}

.calculationResult {
  height: 100%;
  background-color: $primary-dark-color;
  border-radius: 10px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr;

  p {
    text-align: left;
    color: white;
  }
  span {
    color: adjust-color($primary-dark-color, $hue: -5, $lightness: 20%);
  }
  h2 {
    text-align: right;
    color: adjust-color($primary-dark-color, $hue: -10, $lightness: 40%);
  }

  button {
    font-weight: bold;
    text-transform: uppercase;
    align-self: end;
    border-radius: 2px;
    padding: 10px 0px;
    grid-area: 3/1/4/3;
    background-color: adjust-color($primary-dark-color, $lightness: 20%);
    color: adjust-color($primary-dark-color, $hue: -10, $lightness: 70%);
    border: none;
  }
}

.entryContainer {
  display: flex;
  flex-direction: column;
}

label {
  align-self: flex-start;
}

input {
  padding: 10px;
  border: none;
  background-color: rgb(233, 255, 255);
}

.tipButtonContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  place-items: center;
  margin-top: 10px;
}

.tipButton {
  min-width: 80px;
  border: none;
  border-radius: 5px;
  background-color: $primary-dark-color;
  color: white;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}

.tipButton.custom {
  background-color: adjust-color($primary-dark-color, $hue: 6, $lightness: 20%);
}

.click {
  background-color: rgb(129, 211, 231);
  color: black;
}

input {
  font-weight: bold;
}
